*{font-family: 'Mulish', sans-serif;}

body {
    padding: 30px 50px 30px 50px;
    margin: 61px 125px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

.topnav {
    font-weight: bold;
    display: flex;
    width: 100%;
}

.sub-links {
    margin-left: auto;
}

.logo {
    font-size: 22px;
}

a {
    color: black;
    text-decoration: none
}

form {
    display: flex;
    flex-direction: column;
    padding: 80px;
    height: 100%;
    width: 80%;
    justify-content: space-between;
}

form input {
    background: none;
    border: none;
    border-bottom: 1px solid #9DBEBB;
    padding: 20px;
    color: #FFFF;
    font-size: 18px;
}

#button {
    background-color: #4A4FF2;
    color: #FFFF;
    padding: 20px 40px;
    border: none;
    margin: 12px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    
}

.paragraph {
    margin-left: auto;
}

.just-form {
    display: flex;
}

svg {
    display: flex;
    margin-left: auto;
}