*{font-family: 'Mulish', sans-serif;}

body {
    margin: 61px 125px;
    max-width: 1200px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.sub-grid {
    display: grid;
    height: 100%;
    grid-gap: 1rem;
}

.one {
    grid-template-rows: 1.3fr 1.5fr 1.5fr 1.5fr;
  }
  .two {
    grid-template-rows: 1fr 1.3fr 1.5fr 1.7fr;
  }
  .three {
    grid-template-rows: 2fr 1.3fr 1.5fr 1.2fr;
  }

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
}

.highlight-color {
    color: #4A4FF2;
}

.quote {
    display: flex;
    justify-content: flex-end;
    color: #979797;
}

.large-p {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    max-width: 60%;
}

.row {
    display: flex;
    justify-content: space-between;
}

ul {
    color: #979797;
    font-size: 18px;
    list-style: none;
}

li {
    margin-bottom: 8px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.right-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.end {
    justify-self: end;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #979797;
}

.lg-text {
    font-size: 22px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


svg {
    display: flex;
    margin-left: auto;
}

hr {
    background-color: #979797;
    width: 83vw;
    height: 2px;
    opacity: 0.5;
}

.dropbtn {
    background-color: #4A4FF2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    margin: 10px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover 
  {background-color: #ddd;}

  .dropdown:hover .dropdown-content 
  {display: block;}

  .dropdown:hover .dropbtn 
  {background-color: #F9F871;}
