*{font-family: 'Mulish', sans-serif;}

body {
    margin: 61px 125px;
    max-width: 1200px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.sub-grid {
    display: grid;
    height: 100%;
    grid-gap: 1rem;
}

.one {
    grid-template-rows: 1.3fr 1.5fr 1.5fr 1.5fr;
  }
  .two {
    grid-template-rows: 1fr 1.3fr 1.5fr 1.7fr;
  }
  .three {
    grid-template-rows: 2fr 1.3fr 1.5fr 1.2fr;
  }

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
}

.topnav {
    font-weight: bold;
    display: flex;
    width: 100%;
}

.sub-links {
    margin-left: auto;
}

.logo {
    font-size: 22px;
}

.highlight-color {
    color: #4A4FF2;
}

.quote {
    display: flex;
    justify-content: flex-end;
    color: #979797;
}

.large-p {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    max-width: 60%;
}

.row {
    display: flex;
    justify-content: space-between;
}

ul {
    color: #979797;
    font-size: 18px;
    list-style: none;
}

li {
    margin-bottom: 8px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.right-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.end {
    justify-self: end;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #979797;
}

.lg-text {
    font-size: 22px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

a {
    color: black;
    text-decoration: none
}

svg {
    display: flex;
    margin-left: auto;
}

hr {
    background-color: #979797;
    width: 83vw;
    height: 2px;
    opacity: 0.5;
}